[Desktop Entry]
Name=Equibop (Dev)
GenericName=Internet Messenger
Type=Application
Exec=equibop %U
Icon=equibop
Categories=Network;InstantMessaging;Chat;
Keywords=discord;equicord;equibop;
MimeType=x-scheme-handler/discord;
StartupWMClass=equibop
